
/* Set a size for our map container, the Google Map will take up 100% of this container */
html,
body,
#map {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#map {
	background: url(../img/ajax-loader.gif) no-repeat center center;
	background-size: 80px;
}

#overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.4;
	display: none;
}
			
.popup {
	width: 424px;
	height: 600px;
	overflow: hidden;
	overflow-y: auto;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -212px;
	display: none;
	background-size: 73% !important;
}
#initial-popup {
	background: url(../img/first-time-popup.png) no-repeat center center transparent;
	z-index: 2;
}
#user-popup {
	background: url(../img/findme-popup.png) no-repeat center center transparent;
	z-index: 1;
}
#receiver-popup {
	background: url(../img/popup-receive.png) no-repeat center center transparent;
	z-index: 1;
}

.popup .popup-view {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.popup .popup-view input,
.popup .popup-view select {
	width: 204px;
	position: absolute;
	top: 302px;
	left: 102px;
	height: 26px;
	border: none;
	padding: 10px 8px;
}

.popup .popup-view #close-popup {
	position: absolute;
	top: 360px;
	left: -6px;
	width: 438px;
	height: 152px;
	background: url(../img/close-unpressedstate.png) no-repeat center center transparent;
}

.popup .popup-view #close-popup:hover,
.popup .popup-view #close-popup:active {
	background-image: url(../img/close-unpressedstate.png);
}

#url-picker {
	opacity:0;
	position: fixed;
	top: 10px;
	left: 10px;
	height: 50px;
	width: 100%;
	z-index: 2;
	overflow: hidden;
}
/*#url-picker .view-link-image {
	position: absolute;
	top: 0;
	left: -4px;
	z-index: 2;
	cursor: pointer;
}*/
#url-picker .view-link-image {
	position: absolute;
	top: 0;
	left: -5px;
	z-index: 2;
	cursor: pointer;
	background: #e9e9e7;
	padding: 10px 0px 11px;
	text-align: center;
	margin: 5px;
	border-bottom: 1px solid black;
	border-top: 1px solid white;
	font-family: sans-serif;
	width: 95px;
}
#url-picker .url-picker {
	position: absolute;
	top: -12px;
	left: -235px;
	width: 400px;
	height: 50px;
	z-index: 1;
	transition: all 0.5s ease-in;
}
#url-picker input {
	position: relative;
	top: 0;
	width: 216px;
	height: 38px;
	line-height: 38px;
	border: 0;
	border-bottom: 1px solid black;
	padding: 1px 10px;
	display: inline-block;
}
#url-picker .url-picker-close {
	position: relative;
	top: 17px;
	right: 5px;
	width: 90px;
	height: 40px;
	cursor: pointer;
	z-index: 5;
	background: url(../img/X.png) no-repeat right center white;
	display: inline-block;
	border-bottom: 1px solid black;
}
#url-picker.active .url-picker {
	left: 92px;
}